/* CSS RESET */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style-type:none!important}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}a{text-decoration:none;color:inherit}*{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);font-feature-settings:kern;text-ren­der­ing:optimizeLegibility!important;-webkit-box-sizing:border-box!important;-moz-box-sizing:border-box!important;box-sizing:border-box!important;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;font-smoothing:antialiased;transition:.25s all ease-out;-webkit-transition:.25s all ease-out;-moz-transition:.25s all ease-out;-o-transition:.25s all ease-out}

/* END CSS RESET */

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../font/hnl.ttf') format('truetype');
  	font-weight: 300;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../font/hnm.ttf') format('truetype');
  	font-weight: 400;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../font/hnb.ttf') format('truetype');
  	font-weight: 700;
}

.cursor.blink {
  -webkit-animation: blink 0.8s infinite;
  -moz-animation:    blink 0.8s infinite;
  -o-animation:      blink 0.8s infinite;
  animation:         blink 0.8s infinite;
}

@-webkit-keyframes blink {
    0%   { opacity: 0; }
    49%  { opacity: 0; }
    51%  { opacity: 1; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0%   { opacity: 0; }
    49%  { opacity: 0; }
    51%  { opacity: 1; }
    100% { opacity: 1; }
}
@-o-keyframes blink {
    0%   { opacity: 0; }
    49%  { opacity: 0; }
    51%  { opacity: 1; }
    100% { opacity: 1; }
}
@keyframes blink {
    0%   { opacity: 0; }
    49%  { opacity: 0; }
    51%  { opacity: 1; }
    100% { opacity: 1; }
}

::-moz-selection {
    /*color:#fff;*/
    background: rgba(139,103,255,.2);
}
::selection {
    /*color:#fff;*/
    background: rgba(139,103,255,.2);
}

body {
	background:#fff;
}

.block {
	position: static;
    -webkit-transform:translateX(-20px);
    transform:translateX(-20px);
	height:100vh;
	width: 90%;
	max-width: 595px;
	height:auto;
	margin: 90px auto 0 auto;
    padding:24px 0 0 40px;
    opacity:0;
    overflow: hidden;
}

a.backbutton {
    display: inline-block;
    position: relative;
    top:0;
    left:-40px;
    width:24px !important;
    height:24px;
    opacity:0.2;
}

a.backbutton:hover {
    left:-43px;
    opacity:0.4;
}

svg {
    width:24px;
    height:24px;
    margin:0 0 -32px 0;
}

.cursor {
    position: relative;
    top:-3px;
    left:0;
    color:#8B67FF;
}

span.littleline {
	display: block;
	height:1px;
	width:40px;
	background: #ddd;
	margin:2px 0 -10px 0;
}

.block h1 {
	position: relative;
	top:0;
	left: -1px;
	font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif !important;
	font-size:30px;
	display: block;
	margin: 0 0 10px 0;
	line-height: 1.1em;
	color:#222;
	font-weight: 700;
}

.block h2.subheading {
	position: relative;
	top:0;
	left: 0;
	font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif !important;
	font-size:15px;
	display: block;
	margin: -5px 0 17px 0;
	line-height: 1.1em;
	color:#999;
	font-weight: 300;
}

.block h2, .block h5, .block h6 {
	font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif !important;
	font-size:20px;
	display: block;
	margin: 30px 0 0 0;
	line-height: 1.4em;
	color:#222;
	font-weight: 700;
}

.block h3 {
	font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif !important;
	font-size:24px;
	display: block;
	margin: 42px 0 42px 0;
	line-height: 1.3em;
	color:#777;
	font-weight: 300;
}

.block h4 {
	font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif !important;
	font-size:22px;
	display: block;
	margin: 30px 0 0 0;
	line-height: 1.3em;
	color:#777;
	font-weight: 300;
}

.block p, ul, ol, blockquote {
	font-family: 'Libre Baskerville', serif;
	font-size: 16px;
	line-height: 1.7em;
	color:#333;
	margin: 20px 0 0 0;
}

ul, ol {
	margin: 20px 0 0 40px;
}

ul li, ol li {
	line-height: 1.8em;
	margin: 5px 0;
}

blockquote {
	margin: 20px 10px 0 0;
	padding: 0px 0 0px 20px;
	border-left: solid 5px #e9e9e9;
	color:#444;
	opacity:.8;
}

blockquote p:first-child {
    margin-top:0;
}

.block p span {
	padding:3px 5px;
	background:#f1e3ff;
}

.block a {
	height:auto;
	text-decoration: none;
	border-bottom: solid 2px rgba(85,255,199,.25);
}

.block a:hover {
	color:#222;
	border-bottom: solid 2px rgba(85,255,199,.5);
}

.block img, .block a img {
	max-width: 100%;
	margin: 8px auto 0 auto;
	border: none !important;
}

.block img.largeimg {
	max-width: 130%;
	width:130% !important;
	margin:0 0 0 -15%;
	box-shadow: 0 0px 2px rgba(0,0,0,.2)
}

.block hr {
	border:none;
	display: block;
	height:1px;
	width:40px;
	background: #ddd;
	margin:20px 0 0 0;
}

.block figcaption {
	text-align: left;
	color: #999;
	margin: 20px 0 0 0;
    font-family: 'Libre Baskerville', serif;
	font-size: 16px;
	line-height: 1.7em;
}

pre {
	width:100%;
	height:auto;
	margin:20px 0 0 0;
	padding:11px 10px 10px 10px;
	color:#333;
	background:#f1e3ff;
	border: solid 10px rgba(139,103,255,0);
	overflow: scroll
}

code {
	font-family: Courier, 'Courier New', monospace;
	font-size:17px;
	line-height: 1.6em;
	padding:2px 5px 3px 5px;
	background:#f1e3ff;
}

p.social {
	margin:20px 0 0 0;
	opacity:.7;
}

p.meta {
	font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif !important;
	font-size: 19px;
	font-weight: 300;
	line-height: 1.6em;
	margin: 60px 0 0 0;
	color:#666;
}

ul.postlist {
    margin:20px 0 0 0;
    list-style-type: none !important;
}

li.postitem {
    font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    font-size:19px;
    font-weight: 700;
    margin: 10px 0;
}

li.postitem a {
    position: relative;
    top:0;
    left:0;
    border-bottom: none !important;
    opacity:.85;

    transition:.15s all ease-out;
    -webkit-transition:.15s all ease-out;
    -moz-transition:.15s all ease-out;
    -o-transition:.15s all ease-out
}

li.postitem a:hover {
    left:5px;
    opacity: 1;
}

span.postitemmeta {
    margin-left:4px;
    font-size:17px;
    font-weight: 300;
    color:#bbb;
    /*float:right;*/
}

.block .links {
	display: none;
	margin:20px 0 0 0;
}

.block.landing .links {
	display: block;
	margin:24px 0 0 0;
}

div.block div.links a {
	position: relative;
	display: inline-block;
	top:0;
	left:0;
	width:auto;
	height:auto;
	margin: 0 2px 6px 0;
	padding:10px 14px;
	color:#fff;
	background: rgba(139,103,255,0.5);
	border: none;
	font-family: "Open Sans", Arial, "Lucida Grande", sans-serif !important;
	font-weight: 400;
	opacity:1;
}

.block .links a:hover {
	position:relative;
	/*top:-5px;*/
	opacity:.85;
}

.leftabit {
	position: relative;
	left: -1px;
}

.upabit {
	position: relative;
	top:-4px;
}

img.loadimg {
	position: fixed;
	top:50%;
	left:48%;
	z-index: -1;
	width:200px;
	height: 200px;
	margin: -100px 0 -100px -75px;
	opacity: 1;
}

a img.footerimg {
	position: relative;
	top:0;
	left:0;
	display: block;
	margin: 30px auto 0 auto;
	max-width:448px;
	width:90%;
	height:auto;

/*	-webkit-transition: all 400ms cubic-bezier(0.770, 0, 0.290, 1);
    -webkit-transition: all 400ms cubic-bezier(0.770, -0.600, 0.290, 1.650);
       -moz-transition: all 400ms cubic-bezier(0.770, -0.600, 0.290, 1.650);
         -o-transition: all 400ms cubic-bezier(0.770, -0.600, 0.290, 1.650);
            transition: all 400ms cubic-bezier(0.770, -0.600, 0.290, 1.650);

    -webkit-transition-timing-function: cubic-bezier(0.770, 0, 0.290, 1);
    -webkit-transition-timing-function: cubic-bezier(0.770, -0.600, 0.290, 1.650);
       -moz-transition-timing-function: cubic-bezier(0.770, -0.600, 0.290, 1.650);
         -o-transition-timing-function: cubic-bezier(0.770, -0.600, 0.290, 1.650);
            transition-timing-function: cubic-bezier(0.770, -0.600, 0.290, 1.650);

}

a img.footerimg:hover {
	position: relative;
	top:20px;
	left:0;
	opacity: .9;*/
}

@media (max-width:750px){

	.nomo {
		display: none;
	}

    .cursor {
        top:-2px;
    }

    a.backbutton {
        top:-48px;
        left:-4px;
    }

    a.backbutton::after {
        content:"Graham Macphee";
        display: block;
        position: absolute;
        top:24px;
        left:0;
        width:300px;
        height:auto;
        vertical-align: middle;
        padding-left:34px;
        font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    	font-size: 17px;
    	font-weight: 400;
    }

    a.backbutton:hover {
        top:-48px;
        left:-8px;
    }

	img.loadimg {
		position: fixed;
		top:48%;
		left:50%;
		z-index: -1;
		width:100px;
		height: 100px;
		margin: -50px 0 0 -50px;
	}

	.block {
                width: 92%;
		height: auto;
		margin:30px auto 0 auto;
	}

	.block h1 {
		left: -1px;
		line-height: 1.2em;
		margin: 0 0 11px 0;
		font-size:26px;
	}

    .block h2, .block h5, .block h6 {
		font-size: 18px;
	}

	.block h3 {
		font-size: 20px;
		line-height:1.4em;
	}

	.block p, ul, ol, blockquote {
		font-size: 15px;
	}

	.block pre, .block code {
		font-size: 15px;
	}

	p.meta {
		font-size: 17px;
	}

	span.littleline {
		margin: 0 0 44px 0;
	}

    li.postitem {
        font-size:18px;
    }

    span.postitemmeta {
        display: block;
        margin:-10px 0 0 0;
        font-size:14px;
    }

    div.block div.links a {
        font-size:15px;
    	padding:10px 14px 8px 14px;
    }

	a div.footerimg {
		position: relative;
		top:0;
		left:-8px;
	}

}
