$purple: #8B67FF;
$turquoise: #55FFC7;
$red: #ff7070;
$orange: #ffd555;

$highlight: rgba(0,0,0,.08);
$black: #333333;
$white: #FFFFFF;

$grey1: #555555;
$grey2: #999999;
$grey3: #CCCCCC;

$twitter: #4099FF;
$facebook: #3B5998;