{% assign simpleImageURL = site.url | append:"/assets/graham.png" %}
{% assign imageURL = simpleImageURL %}
{% assign images = page.content | split:"<img " | reverse %}
{% for image in images %}
	{% if image contains 'src=' %}
		{% assign imageMarkup = image | split:">" | first %}
		{% assign imageAttrs = imageMarkup | split:" " %}
		{% for attr in imageAttrs %}
			{% if image contains 'src=' %}
				{% assign imageURL = attr | slice: 4, (attr.size - 4) | remove:"'" | remove:'"' %}
	 			{% break %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endfor %}

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@gmph">
{% if page.title %}
<meta name="twitter:title" content="{{ page.title }}">
{% else %}
<meta name="twitter:title" content="{{ site.title }}">
{% endif %}
{% if page.url %}
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
{% endif %}
<meta name="twitter:description" content="{{ page.content | strip_html | truncatewords:55 }}">
<meta name="twitter:text:description" content="{{ page.content | strip_html | truncatewords:55 }}">
<meta name="twitter:image:src" content="{{ imageURL }}">
<meta property="twitter:account_id" content="87261538" /> <!-- Twitter ID, currently for @gmph -->


