.pluginSpyClass,.pluginSpyClass * {
	display: inline;
    color: #000 !important;
    background: #000 !important;
    padding-bottom: 3px !important;
    line-height: 2em !important;
    border:none !important;
    text-decoration: none !important; 
    opacity: 1 !important;
	pointer-events: none !important;
}

div.pluginSpyMask, div.pluginSpyMask * {
	background: #000 !important;
	pointer-events: none !important;
}

div.pluginSpyMask * {
	opacity: 0 !important;
}

.pluginSpyGrey {
	-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url(grayscale.svg); /* Firefox 4+ */
    filter: gray; /* IE 6-9 */
}

div#pluginSpyBox {
	display: block;
	position: fixed;
	right:0;
	bottom:-100px;
	z-index:9999;
	width:300px;
	height:auto;
	margin: 15px;
	padding:18px 20px;
	border-radius: 3px;
	box-shadow: 0px 2px 3px rgba(75,60,0,.4);
	background: rgba(247,197,0,1);
	opacity: 0;

	font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 300 !important;

	transition: .4s all ease-out !important;
    -webkit-transition: .4s all ease-out !important;
    -moz-transition: .4s all ease-out !important;
    -o-transition: .4s all ease-out !important;
}

div#pluginSpyBox div#pluginSpyText {
	display: block;
	position: relative;
	width:100%;
	height:auto;
	margin:0;
	padding:0;
	background: none;
	color: #222;
	border-radius: 2px;
}

div#pluginSpyBox div#pluginSpyButton, div#pluginSpyBox div#pluginSpyClose {
	display: inline-block;
	position: relative;
	width:65%;
	height:auto;
	margin: 20px 0 4px 0;
	padding: 10px 16px 10px 14px;
	background: rgba(0,0,0,.88);
	color: #fff;
	border-radius: 2px;
	text-align: center;
	cursor: pointer;
}

div#pluginSpyBox div#pluginSpyClose {
	width:27%;
	margin-left:5%;
	padding: 11px 16px 9px 0;
	background: none;
	color: #222;
	text-align: right;
	opacity: .7;
}

.pluginSpyClass::selection {
	color: rgba(0,0,0,0) !important;
    background: #000!important;
    opacity: 1;
}

.pluginSpyClass::-moz-selection {
	color: rgba(0,0,0,0) !important;
    background: #000!important;
    opacity: 1;
}

.pluginSpyClass *::selection {
	color: rgba(0,0,0,0) !important;
    background: #000!important;
    opacity: 1;
}

.pluginSpyClass *::-moz-selection {
	color: rgba(0,0,0,0) !important;
    background: #000!important;
    opacity: 1;
}