<!DOCTYPE html>
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=100" />
<style type="text/css">
/* IE CSS HERE */
<style>
<![endif]-->

<html id="top">

<head>

{% include head.html %}

</head>

<body>

		{% include navigation.html %}

		<article class="mw-640">

			<h1 class="heading">{{ page.heading }}</h1>

			{% if page.private %}
			<h2 class="subheading">This case study is currently a private draft.</h2>
			{% else if page.subheading %}
			<h2 class="subheading">{{ page.subheading }}</h2>
			{% endif %}
	
			{{ content }}
			
			<br>		
			<br>
			<br>
			<hr class="m-16">
			<br>
			<h4>Get In Touch</h4>
			<p class="sans-serif m4 op6 lh12">Reach out if you'd like to discuss your project or product.</p>
			<br>
			<br>
			<a class="button large m-16" data-icon="arrow-right" href="{{ site.baseurl }}/contact">Get In Touch</a>

			{% include footer.html %}

		</article>

</body>

</html>
