<!DOCTYPE html>
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=100" />
<style type="text/css">
/* IE CSS HERE */
<style>
<![endif]-->

<html id="top">

<head>

<title>{{ page.title }} | Graham Macphee</title>
<meta name="author" content="Graham Macphee" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta charset="utf-8">
<link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="{{ site.baseurl }}/atom.xml" />
<meta property="og:title" content="{{ page.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.baseurl }}/{{ page.path }}">
<meta property="og:site_name" content="Graham Macphee">
<meta property="og:description" content="">
<meta property="twitter:account_id" content="87261538" /> <!-- Twitter ID, currently for @gmph -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#8B67FF">
<link rel="shortcut icon" href="{{ site.baseurl }}/res/img/ptlogooutline.png">
<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400' rel='stylesheet' type='text/css'>
<link href="{{ site.baseurl }}/res/css/main.css" rel="stylesheet" type="text/css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>

{% include fbmeta.html %}
{% include twittermeta.html %}

{% if page.url == "/404.html" %}
	<meta http-equiv="refresh" content="10; url=/">
{% endif %}

</head>

<body>

		<div class="posttabs default">
			<div class="content">
		        <a href="{{ site.url }}" class="back"><span class="arrow">&larr;</span> Home</a>
	        </div>
	    </div>

		<div class="block">

			<!-- <a class="backbutton" href="/"><svg height="100%" width="100%"><g><path fill="#555" d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path></g></svg></a> -->

			<h1 class="heading">{{ page.heading }}</h1>

			{% if page.private %}
			<h2 class="subheading">This article is currently a private draft.</h2>
			{% else if page.subheading %}
			<h2 class="subheading">{{ page.subheading }}</h2>
			{% endif %}

			<span class="littleline"></span>

			{{ content }}

		</div>

</body>


<script language="javascript">

    $(document).ready(function(){
    	$('.block, .posttabs').css('opacity','0');
	    $('body').css('overflow-y','hidden');
		setTimeout(function(){
    		$('.block, .posttabs').css('opacity','1');
    		$('body').css('overflow-y','scroll');
    	},400);
	});

	$('a').each(function() {
	    if ($(this).find('img,svg').length) {
	        $(this).css({'border':'none','background':'none'});
	    }
	});

	$(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: (target.offset().top - 70)
		  	}, 400);
            return false;
          }
        }
      });
    });

    var domainName =  window.location.hostname.replace(/[^a-z0-9]/gi,'-');

    var pageName = window.location.pathname;
    if (pageName[0] == '/'){
    	pageName = pageName.substring(1);
    }
    if (pageName[pageName.length - 1] == '/'){
    	pageName = pageName.slice(0,pageName.length - 1);
    }
    pageName = pageName.replace(/[^a-z0-9]/gi,'-');

	var fPosts = firebase.initializeApp({
		apiKey: "AIzaSyADZwqY2285Jd8X5-Z1zGoeOOcrbXoenqg",
		authDomain: "project-7565141284569736729.firebaseapp.com",
		databaseURL: "https://project-7565141284569736729.firebaseio.com",
		storageBucket: "",
	});

	var postRef = fPosts.database().ref(domainName+'/posts/'+pageName);

	var likeIncreaseTimeout;
	function increaseLikeCountIfNeeded(likes){
		console.log('int = '+ parseInt($('.gmph-button.like .like-count').text()));
		if (parseInt($('.gmph-button.like .like-count').text()) < likes){
			$('.gmph-button.like .like-count').text(parseInt($('.gmph-button.like .like-count').text()) + 1);
			likeIncreaseTimeout = setTimeout(function(){
				increaseLikeCountIfNeeded(likes);
			},40);
		}
	}

	postRef.on('value', function(snapshot) {
		var likes = snapshot.child('likes').val();
		increaseLikeCountIfNeeded(likes);
		// $('.gmph-button.like .like-count').text(likes);
		if (likes == null){
			postRef.update({
				'likes' : 0
			});
		}
	});

	var likeTimeout;

	$(document).on('click','.gmph-button.like',function(){
		$('.gmph-button.like').addClass('disabled');
		likeTimeout = setTimeout(function(){
			$('.gmph-button.like').removeClass('disabled');
		},500);
		postRef.child('likes').transaction(function(likes) {
		    return  (likes || 0) + 1;
		});
	})



</script>

{% if page.url == "/404.html" %}
	<script language="javascript">
		$('.block').css('margin-top','24vh');
		$('p.meta').css('display','none');
		$('p.social').css('display','none');
	</script>
{% endif %}

<!-- Landy -->
<script>var JavaScript={load:function(e,t){var a,l=document.createElement("script");l.setAttribute("src",e),t&&(l.onreadystatechange=l.onload=function(){a||t(),a=!0});var o=document.getElementsByTagName("head")[0];o.insertBefore(l,o.firstChild)}},config={g:[{"event":"click","value":".postlist .postitem"},{"event":"click","value":".menu .purple"},{"event":"click","value":".menu .twitter, .menu .instagram, .menu .foursquare"}],modelId:"a6e6703d313e900ef8d1786f",user:"JELjJCCiqsNAHrPAf",url:"http://gmph.co",type:"ab",subtype:"contains"};JavaScript.load("https://d2mnlxdd0x11jg.cloudfront.net/landy.min.js",function(){landy.init(config)});</script>
<!-- End Landy -->

</html>
