<!DOCTYPE html>
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=100" />
<style type="text/css">
/* IE CSS HERE */
<style>
<![endif]-->

<html id="top">

<head>

{% include head.html %}

</head>

<body>

		{% include navigation.html %}

		<article class="mw-640">

			<h1 class="heading">{{ page.heading }}</h1>

			{% if page.private %}
			<h2 class="subheading">This article is currently a private draft.</h2>
			{% else if page.subheading %}
			<h2 class="subheading">{{ page.subheading }}</h2>
			{% endif %}
	
			{{ content }}

			<p>
				<a class="button bg-twitter" href="https://twitter.com/home?status={{ page.title }}%20{{ site.url }}{{ site.baseurl }}{{ page.url }}%20by%20%40gmph" target="_blank"><span class="twitter-logo-text"></span> Tweet</a>
				<a class="button bg-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank"><span class="facebook-logo-text"></span> Share</a>
			</p>

			<br>
			<br>
			<br>
			<br>

			<a class="button bg-light" href="{{ site.baseurl }}/articles">&larr; View all articles</a>

			{% include footer.html %}

		</article>

</body>


<script language="javascript">

	$('a').each(function() {
	    if ($(this).find('img,svg').length) {
	        $(this).css({'border':'none','background':'none'});
	    }
	});

	$(function() {
      $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: (target.offset().top - 70)
		  	}, 400);
            return false;
          }
        }
      });
    });

</script>

{% if page.url == "/404.html" %}
	<script language="javascript">
		$('p.meta').css('display','none');
		$('p.social').css('display','none');
	</script>
{% endif %}

</html>
