<!DOCTYPE html>
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=100" />
<style type="text/css">
/* IE CSS HERE */
<style>
<![endif]-->

<html id="top">

<head>

<title>{{ page.title }}</title>
<meta name="author" content="Graham Macphee" />
<meta name="description" content="I tend to think about puppies, pizza and equality. I enjoy being creative: writing, photography, guitar, ukulele and singing occasionally. I'm quiet and thoughtful, and like nature and quiet nights. I'm interested in a combination of technology, design, psychology and sociology." />
<meta name="keywords" content="I tend to think about puppies, pizza and equality. I enjoy being creative: writing, photography, guitar, ukulele and singing occasionally. I'm quiet and thoughtful, and like nature and quiet nights. I'm interested in a combination of technology, design, psychology and sociology." />
<meta charset="utf-8">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}/{{ page.path }}">
<meta property="og:site_name" content="Graham Macphee">
<meta property="og:description" content="I tend to think about puppies, pizza and equality. I enjoy being creative: writing, photography, guitar, ukulele and singing occasionally. I'm quiet and thoughtful, and like nature and quiet nights. I'm interested in a combination of technology, design, psychology and sociology.">
<meta property="twitter:account_id" content="87261538" /> <!-- Twitter ID, currently for @gmph -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{{ site.url }}/res/img/ptlogooutline.png">
<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400' rel='stylesheet' type='text/css'>
<link href="{{ site.url }}/res/css/main.css" rel="stylesheet" type="text/css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>

<body>

		<img class="loadimg" src="{{ site.url }}/res/img/ptlogo.png"/>

		<div class="block landing">

			<h1>{{ page.heading }}</h1>

			<span class="littleline"></span>

			{{ content }}

			<div class="links">

				<a href="http://twitter.com/gmph">twitter</a>
				<a href="http://facebook.com/grahammacphee">facebook</a>
				<a href="http://instagr.am/gmph">instagram</a>
				<a href="https://foursquare.com/gmph">foursquare</a>
				<a href="http://thinks.grahammacphee.co.uk">blog</a>
				<a href="http://grahammacphee.co.uk" title="My Website"><span class="upabit">...</span></a>

			</div>

			<a href="/"><img class="footerimg" src="{{ site.url }}/res/img/ptfooter.png"/></a>

		</div>

</body>


<script language="javascript">

	// window.location.replace("http://twitter.com/gmph");

    window.addEventListener("load", function() { window. scrollTo(0, 0); });

    $('.block').css('opacity','0');

    $('body').css('overflow-y','hidden');

    $('.loadimg').css('opacity','0');

    $('a').each(function() {
	    if ($(this).find('img').length) {
	        $(this).css('border','none');
	    }
	});

    $(document).ready(function(){
    	setTimeout(function(){
    		$('.loadimg').css('opacity','1');
    		setTimeout(function(){
	    		$('.loadimg').css('opacity','0');
	    		setTimeout(function(){
		    		$('.block').css('opacity','1');
		    		$('body').css('overflow-y','scroll');
		    	},400);
	    	},1200);
    	},200);
	});

	$(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: (target.offset().top - 30)
		  	}, 400);
            return false;
          }
        }
      });
    });

</script>

</html>
