<!DOCTYPE html>
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=100" />
<style type="text/css">
/* IE CSS HERE */
<style>
<![endif]-->

<html id="top">

<head>

{% include head.html %}

</head>

<body>

		{% include navigation.html %}

		<article>

			<h1>{{ page.heading }}</h1>

			{% if page.private %}
			<h2 class="subheading">This article is currently a private draft.</h2>
			{% else if page.subheading %}
			<h2 class="subheading">{{ page.subheading }}</h2>
			{% endif %}

			<!-- <span class="littleline"></span> -->

			{{ content }}

		</article>

		{% include footer.html %}

</body>


<script language="javascript">

	var musicManager = function($){

		function displaySongWithDescriptionInElement(songWithNameArtistImageUrl, description, element){
			var $element = $(element);
			var song = songWithNameArtistImageUrl;
			var songString = "";
			if (song && song.name){
				songString = song.name;
				if (song.artist){
					songString += " by " + song.artist;
				}
				$element.find('a').attr('href',song.url);
				$element.find('.background').attr('src', song.image);
				$element.find('h3').text(songString);
				$element.find('p').text(description);
			} else {
				$(element).remove();
			}
		}

		function displayMostPlayedSongThisWeek(){
			$.get('https://ws.audioscrobbler.com/2.0/?method=user.gettoptracks&user=grahammacphee&period=1month&api_key=5f134f063744307ee6f126ac2c480fab&format=json', function(data){
				var mostPlayedSong = {};
				try {
					mostPlayedSong['name'] = data.toptracks.track[0].name;
				} catch (e){
					// No name
					mostPlayedSong['name'] = null;
				}
				try {
					mostPlayedSong['artist'] = data.toptracks.track[0].artist.name;
				} catch (e){
					// No artist
					mostPlayedSong['artist'] = null;
				}
				try {
					mostPlayedSong['image'] = data.toptracks.track[0].image[data.toptracks.track[0].image.length-1]['#text'];
				} catch (e){
					// No image
					mostPlayedSong['image'] = null;
				}
				try {
					mostPlayedSong['url'] = data.toptracks.track[0].url;
				} catch (e){
					// No name
					mostPlayedSong['url'] = null;
				}
				return displaySongWithDescriptionInElement(mostPlayedSong,'Most played this month',$('#music-container'));
			}).fail(function (){
				$('#music-container').remove();
			});
		}

		return {
			displayMostPlayedThisWeek : displayMostPlayedSongThisWeek,
		}

	}($)

	var locationManager = function($){

		var $locationContainer = $('#latestLocation');

		var randomString = "AIzaSyDQJOQNtvd0-mEKu-2veoiz3QMnLf01kis";
		var mapZoomLevel = "10";

		var locationDataText;
		var locationData = [];
		var eventLocationDataProcessed = new Event('locationDataProcessed');

		function init(callback){
			getDataFromTextFile("https://dl.dropboxusercontent.com/u/17016249/Data/location.txt");
			if (callback){
				document.addEventListener('locationDataProcessed', callback, false);
			}
		}

		function getParameterByName(name, url) {
		    if (!url) url = window.location.href;
		    name = name.replace(/[\[\]]/g, "\\$&");
		    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
		        results = regex.exec(url);
		    if (!results) return null;
		    if (!results[2]) return '';
		    return decodeURIComponent(results[2].replace(/\+/g, " "));
		}

	    function getDataFromTextFile(file){
	        var rawFile = new XMLHttpRequest();
	        rawFile.open("GET", file, true);
	        rawFile.onreadystatechange = function (){
	            if(rawFile.readyState === 4){
	                if(rawFile.status === 200 || rawFile.status == 0){
	                    locationDataText = rawFile.responseText;
						processLocationData();
	                }
	            }
	        }
	        rawFile.send(null);
	    }

		function processLocationData(){
			var locationDataTextSplit = locationDataText.split("/%/");
			locationDataTextSplit.pop();
			for (i=0;i<locationDataTextSplit.length;i++){
				locationData.push(JSON.parse(locationDataTextSplit[i]));
			}
			document.dispatchEvent(eventLocationDataProcessed);
		}

		function displayLatestTrip(description, element){
			try {
				var $element = $(element);
				var latestLocation = locationData[locationData.length-1];
				$element.find('a').attr('href',latestLocation.linkURL);
				$element.find('.background').attr('src', latestLocation.mapImageURL.replace('http://', 'https://').replace('zoom=16', 'zoom=9').replace('size=710x440','size=320x160')+'&key='+randomString);
				$element.find('h3').text(latestLocation.name);
				$element.find('p').text(description);
			} catch (e){
				$(element).remove();
			}
		}

		return {
			init : init,
			displayLatestTrip : displayLatestTrip,
		}

	}($);

    $(document).ready(function(){
    	musicManager.displayMostPlayedThisWeek();
    	locationManager.init(function(){
			locationManager.displayLatestTrip('Recent trip',$('#trip-container'));
		});
	});

</script>

</html>
