<!DOCTYPE html>
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=100" />
<style type="text/css">
/* IE CSS HERE */
<style>
<![endif]-->

<html id="top">

<head>

<title>{{ page.title }}</title>
<meta name="author" content="Graham Macphee" />
<meta name="description" content="I tend to think about puppies, pizza and equality. I enjoy being creative: writing, photography, guitar, ukulele and singing occasionally. I'm quiet and thoughtful, and like nature and quiet nights. I'm interested in a combination of technology, design, psychology and sociology." />
<meta name="keywords" content="I tend to think about puppies, pizza and equality. I enjoy being creative: writing, photography, guitar, ukulele and singing occasionally. I'm quiet and thoughtful, and like nature and quiet nights. I'm interested in a combination of technology, design, psychology and sociology." />
<meta charset="utf-8">
<link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="{{ site.baseurl }}/atom.xml" />
<meta property="og:title" content="{{ page.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.baseurl }}/{{ page.path }}">
<meta property="og:site_name" content="Graham Macphee">
<meta property="og:description" content="I tend to think about puppies, pizza and equality. I enjoy being creative: writing, photography, guitar, ukulele and singing occasionally. I'm quiet and thoughtful, and like nature and quiet nights. I'm interested in a combination of technology, design, psychology and sociology.">
<meta property="twitter:account_id" content="87261538" /> <!-- Twitter ID, currently for @gmph -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#8B67FF">
<link rel="shortcut icon" href="{{ site.baseurl }}/res/img/ptlogooutline.png">
<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400' rel='stylesheet' type='text/css'>
<link href="{{ site.baseurl }}/res/css/main.css" rel="stylesheet" type="text/css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{% include fbmeta.html %}
{% include twittermeta.html %}

</head>

<body>

		<div class="posttabs">
			<div class="content">
			<!-- <a href="#top" class="posttab home">Home</a> -->
		        {% assign sorted_cats = site.categories | sort %}
		        {% for category in sorted_cats %}
		            {% if forloop.index0 == 0 %}
		                {% assign active_class = "active" %}
		            {% else %}
		                {% assign active_class = "" %}
		            {% endif %}
		            <div class="posttab {{ active_class }}" data-tab="{{ category[0] }}" data-id="{{ forloop.index0 }}">{{ category[0] }}s</div>
		        {% endfor %}
		        <!-- <br /><br /> -->
		        <a href="{{ site.baseurl }}/portfolio" class="purple">Portfolio</a>
				<a href="http://twitter.com/gmph" target="_blank" class="twitter">Twitter</a>
				<!-- <a href="http://instagr.am/gmph" class="instagram">Instagram</a>
				<a href="https://foursquare.com/gmph" class="foursquare">Foursquare</a> -->

			</div>
	    </div>

		<img class="loadimg" src="{{ site.baseurl }}/res/img/ptlogo.png"/>

		<div class="block landing">

			<!-- <div class="menubutton">
				<div class="hamburgerpart"></div>
				<div class="hamburgerpart"></div>
				<div class="hamburgerpart"></div>
			</div>

			<div class="menu closed">

				<div class="bigclose"></div>

				<a href="{{ site.baseurl }}/portfolio" class="purple">Portfolio</a>
				<a href="http://twitter.com/gmph" class="twitter">Twitter</a>
				<a href="http://instagr.am/gmph" class="instagram">Instagram</a>
				<a href="https://foursquare.com/gmph" class="foursquare">Foursquare</a>

			</div> -->

			<h1 class="nomo"><span class="title">{{ page.heading }}</span><span class="cursor blink">&#124;</span></h1>

			<h1 class="moon"><span class="mobile-title">{{ page.heading }}</span></h1>

			{% if page.private %}
			<h2 class="subheading">This article is currently a private draft.</h2>
			{% else if page.subheading %}
			<h2 class="subheading">{{ page.subheading }}</h2>
			{% endif %}

			<span class="littleline"></span>

			{{ content }}

			<!-- <div class="links">
				<a href="http://twitter.com/gmph">twitter</a>
				<a href="http://facebook.com/grahammacphee">facebook</a>
				<a href="http://instagr.am/gmph">instagram</a>
				<a href="https://foursquare.com/gmph">foursquare</a>
				<a href="https://uk.linkedin.com/in/grahammacphee">linkedin</a>
				<a href="http://google.co.uk/search?q=graham+macphee+designer" title="Google me..."><span class="upabit">...</span></a>
			</div> -->

			<a href="{{ site.url }}"><div class="footerimg"></div></a>

		</div>

</body>


<script language="javascript">

	var titleVariation = 0;

    initLoadingState();
    $(document).ready(function(){
    	attachEvents();
		setStyling();
    	animLoadingState();
    	navigateToHashCategory();
	});

    function initLoadingState(){
    	$('.block, .posttabs').css('opacity','0');
	    $('body').css('overflow-y','hidden');
	    $('.loadimg').css('opacity','0');
    }

    function animLoadingState(){
    	setTimeout(function(){
    		$('.loadimg').css('opacity','1');
    		setTimeout(function(){
	    		$('.loadimg').css('opacity','0');
	    		setTimeout(function(){
		    		$('.block, .posttabs').css('opacity','1');
		    		$('body').css('overflow-y','scroll');
					setTimeout(function(){
						startLoopTitle();
					},3000);
		    	},400);
	    	},1200);
    	},200);
    }

    function setStyling(){
    	$('.title').html('Graham Macphee');
		$('.cursor').addClass('blink');
    	$('a').each(function() {
		    if ($(this).find('img').length) {
		        $(this).css('border','none');
		    }
		});

		if ($(window).scrollTop() <= $('.postview').offset().top - 50){
			$('.posttabs').addClass('no-active');
			$('.posttab.home').addClass('active');
		} else {
			$('.posttabs').removeClass('no-active');
			$('.posttab.home').removeClass('active');
		}

		$('.postlist').each(function(){
			for (var i = 0; i < $(this).find('.postitem').length; i++){
				$(this).find('.postitem').eq(i).css('transition','.3s all ease-out '+(150*i)+'ms');
				$(this).find('.postitem').eq(i).css('-webkit-transition','.3s all ease-out '+(150*i)+'ms');
			}
		});
    }

    function navigateToHashCategory(){
    	var hash = location.hash.slice(1,-1);
    	$('.posttab[data-tab="'+hash+'"]').click();
    }

    function attachEvents(){

    	$(document).on('scroll',function(){
			if ($(window).scrollTop() <= $('.postview').offset().top - 100){
				$('.posttabs').addClass('no-active');
				$('.posttab.home').addClass('active');
			} else {
				$('.posttabs').removeClass('no-active');
				$('.posttab.home').removeClass('active');
			}
		});

    	$(document).on('click','.posttab',function(){
			var $activeTab = $(this);
			if (!$activeTab.hasClass('active') || $(window).scrollTop() <= 100){
				var category = $activeTab.attr('data-tab');
				var id = parseInt($activeTab.attr('data-id'));
				if (!$activeTab.hasClass('active')){
					$('.postlist').css({'opacity':'0','top':'15px'});
				}
				$('.posttab').removeClass('active before after');
				$activeTab.addClass('active');
				$('html,body').animate({
					"scrollTop" : $('.postlist[data-id="'+id+'"]').closest('.postview').offset().top - 17,
				},300);
				setTimeout(function(){
					$('.postlist').removeClass('active before after');
					$('.postlist.'+category).addClass('active');

					$('.posttab').each(function(){
						var $thisTab = $(this);
						if (parseInt($thisTab.attr('data-id')) < id){
							$thisTab.addClass('before');
							$('.postlist[data-id="'+$thisTab.attr('data-id')+'"]').addClass('before');
						} else if (parseInt($thisTab.attr('data-id')) > id){
							$thisTab.addClass('after');
							$('.postlist[data-id="'+$thisTab.attr('data-id')+'"]').addClass('after');
						}
					});

				
					$('.postlist').css({'opacity':'','top':''});
				},400);
			}
		});

		$(document).on( "touchstart", ".menubutton, .bigclose" , function(e) {
			e.preventDefault();
			controlMenu();
		} );

		$(document).on( "click", ".menubutton, .bigclose" , function() {
			controlMenu();
		} );

    }

    function controlMenu(){
		$('.menubutton').toggleClass('close');
		if ($('.menubutton').hasClass('close')){ // open menu
			openMenu();
		} else { // close menu
			closeMenu();
		}
	}

	function openMenu(){
		$('.block').addClass('menuopen');
		$('.menu').removeClass('closed');
		$('html,body').css('overflow','hidden');
	}

	function closeMenu(){
		$('.block').removeClass('menuopen');
		$('.menu').addClass('closed');
		$('html,body').css('overflow','auto');
	}

    function startLoopTitle(){
    	backspaceThis("Macphee".length,"is a designer.",0);
    }

	function animLoopTitle(){
		setTimeout(function(){
			if (titleVariation == 0){
				$('.title').html('Graham is a designer.');
				setTimeout(function(){
					typeReplace("is a designer.","writes code.");
				},500);
			} else if (titleVariation == 1){
				setTimeout(function(){
					typeReplace("writes code.","writes articles.");
				},500);
			} else if (titleVariation == 2){
				setTimeout(function(){
					typeReplace("writes articles.","takes photos.");
				},500);
			} else if (titleVariation == 3){
				setTimeout(function(){
					typeReplace("takes photos.","is a feminist.");
				},500);
			} else if (titleVariation == 4){
				setTimeout(function(){
					typeReplace("is a feminist.","Macphee");
				},500);
			} else if (titleVariation == 5){
				setTimeout(function(){
					typeReplace("Macphee","is a designer.");
				},500);
			}
		},2400);
	}

	function typeReplace(oldString,newString){
		var stepTo = (titleVariation+1) % 6;
		backspaceThis(oldString.length,newString,stepTo);
	}

	function backspaceThis(i,string,variation){
		if (i > 0){
			$('.cursor').removeClass('blink');
			setTimeout(function(){
				$('.title').html($('.title').text().slice(0,-1));
				backspaceThis(i-1,string,variation);
			},40);
		} else {
			setTimeout(function(){
				$('.cursor').addClass('blink');
			},400);
			setTimeout(function(){
				typeThis(string,1,variation);
			},700);
		}
	}

	function typeThis(string,i,variation){
		if (i <= string.length){
			$('.cursor').removeClass('blink');
			setTimeout(function(){
				$('.title').html($('.title').text() + string.slice(i-1,i));
				typeThis(string,i+1,variation);
			},110);
		} else {
			setTimeout(function(){
				$('.cursor').addClass('blink');
			},400);
			titleVariation = variation;
			animLoopTitle();
		}
	}

	$(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: (target.offset().top - 30)
		  	}, 400);
            return false;
          }
        }
      });
    });

</script>

<!-- Landy -->
<script>var JavaScript={load:function(e,t){var a,l=document.createElement("script");l.setAttribute("src",e),t&&(l.onreadystatechange=l.onload=function(){a||t(),a=!0});var o=document.getElementsByTagName("head")[0];o.insertBefore(l,o.firstChild)}},config={g:[{"event":"click","value":".postlist .postitem"},{"event":"click","value":".menu .purple"},{"event":"click","value":".menu .twitter, .menu .instagram, .menu .foursquare"}],modelId:"a6e6703d313e900ef8d1786f",user:"JELjJCCiqsNAHrPAf",url:"http://gmph.co",type:"ab",subtype:"contains"};JavaScript.load("https://d2mnlxdd0x11jg.cloudfront.net/landy.min.js",function(){landy.init(config)});</script>
<!-- End Landy -->

</html>
